<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-neutral-100 flex flex-col min-h-screen">
  <header>
    <nav class="bg-white border-b border-gray-200 px-4 py-1 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
      <div class="flex justify-between items-center">
        <h1>Cobalt</h1>
        <div class="">
          <input type="search" id="default-search" class="block w-full pl-8 py-1 text-sm text-gray-900 border border-gray-300 rounded-md bg-gray-50" placeholder="Search videos..." required>
        </div>
        <div id="header-btns">
          <button>Logout</button>
          <button></button>
        </div>
      </div>
    </nav>
  </header>
  <div class="grow mt-10">
    {%block content %}{% endblock content %}
  </div>
  <footer class="bg-gray-300">
    Footer
  </footer>
</body>  
</html>